/* Add CSS Styling */

.odd-number {
    background-color: rgb(158, 22, 101);
    font-family: Verdana, DejaVu Sans, sans-seriff;
}

#second {
    color: rgb(11, 11, 233);
    font-size: 36px;
}

.third {
    font-size: 24px;
}

#fourth {
    background-color: rgb(171, 236, 171);
    font-size: 24px;
    font-weight: bold;
}